<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.RecordMapper">

	<select id="recordList" resultType="kr.smhrd.entity.Record">
		select * from tb_daily_record order by edu_time desc
	</select>
	
	<delete id="recordDelete" parameterType="int">
		delete from tb_daily_record where record_idx = #{idx}
	</delete>
	
	<select id="recordContent" parameterType="int" resultType="kr.smhrd.entity.Record">
		select * from tb_daily_record where record_idx = #{idx} 
	</select>
	
	<update id="updateRecord" parameterType="kr.smhrd.entity.Record">
	    update tb_daily_record
	       set edu_name = #{edu_name},
	           user_id = #{user_id},
	           edu_headcount = #{edu_headcount},
	           edu_subject = #{edu_subject},
	           edu_content = #{edu_content},
	           edu_etc = #{edu_etc}
	     where record_idx = #{record_idx}
	</update>

	<insert id="insertRecord" parameterType="kr.smhrd.entity.Record">
		insert into tb_daily_record (
		           edu_name, 
		           user_id, 
		           edu_headcount, 
		           edu_subject, 
		           edu_content, 
		           edu_photo, 
		           edu_time, 
		           edu_etc, 
		           class_idx) 
			values (
			       #{edu_name}, 
			       #{user_id},
			       #{edu_headcount}, 
			       #{edu_subject}, 
			       #{edu_content}, 
			       'edu_photo', 
			       SYSDATE, 
			       #{edu_etc}, 
			       #{class_idx})
	</insert>
	
	<!-- 
	<select id="goRecordList" resultType="kr.smhrd.entity.Record">
		select * from tb_daily_record
	</select> 
	-->
	
</mapper>